@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Страница контент-менеджера</h2>


<div class="list-group">
    <a asp-action="AddProduct" asp-controller="ContentManager"
    class="list-group-item list-group-item-action">
        Добавить новый товар
    </a>
    <a asp-action="EditCategories" asp-controller="ContentManager"
    class="list-group-item list-group-item-action">
        Редактировать категории товаров
    </a>
    <a asp-action="EditBrands" asp-controller="ContentManager"
    class="list-group-item list-group-item-action">
        Редактировать бренды
    </a>
</div>