@model IEnumerable<string>

@{
    string activeCategory = ViewContext
    .RouteData
    .Values["categoryName"]
    ?.ToString();
}

<div class="list-group">

    <a class="list-group-item list-group-item-action"
            asp-action="ListView" 
            asp-controller="Product"
            asp-route-page="1"
            asp-route-categoryName="">
            all
    </a>


    @foreach (var name in Model)
    {
        string activeClass = name == activeCategory ? "list-group-item-primary" : "";

        <a class="list-group-item list-group-item-action @activeClass"
            asp-action="ListView" 
            asp-controller="Product"
            asp-route-categoryName="@name"
            asp-route-page="1"
        >
            @name
        </a>
       
        <!-- 
        Html.ActionLink(
            name,
            "ListView",
            "Product", 
            new { categoryName = name, page = 1 })   
       -->
    }
</div>